#╔═══════════════════════════════════════════════════════════╗
#║ Build & Temp                                              ║
#╚═══════════════════════════════════════════════════════════╝
!Cargo.lock
/target/
/dist/
/result/
.bin/
/site/
pkg
**/*.rs.bk
tmp.*

#╔═══════════════════════════════════════════════════════════╗
#║ Node Toolkit                                              ║
#╚═══════════════════════════════════════════════════════════╝
node_modules/
test-results/
end2end/playwright-report/
playwright/.cache/
pnpm-lock.yaml
package-lock.json

#╔═══════════════════════════════════════════════════════════╗
#║ Assets                                                    ║
#╚═══════════════════════════════════════════════════════════╝
*.png
*.webp
*.jpg
# /assets/
# /public/

#╔═══════════════════════════════════════════════════════════╗
#║ Environment                                               ║
#╚═══════════════════════════════════════════════════════════╝
/.direnv/
.env
.env.local
!.example.env

#╔═══════════════════════════════════════════════════════════╗
#║ Database                                                  ║
#╚═══════════════════════════════════════════════════════════╝
database/.data/*
*.db*
!database/.data/.gitkeep
